* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #3a3441;
  padding: 40px 0;
  text-align: center;
  width: 100%;
  margin-bottom:100px;
}
.img__lupa{
  width: 150px;
  height: 150px;
  margin-bottom: 20px;


}
h1 {
  font-size: 2rem;
  color: #f2f2f2;
}

textarea[name="user-input"] {
  width: 40%;
  height: 100px;
  border: solid 1px #EF4040;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  margin: 5px;
}

ul {
  font-size: 1.5rem;
  list-style: none;
  margin: 20px 0; /* Aumentado o espaçamento entre o header e a lista. */
  width: 40%;
}

li {
  display: flex;
  border: solid 1px #EF4040;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.li__words {
  margin-left: auto;
  color: #262626;
  font-weight: bold;
}

#reset-button {
  font-size: 1.5rem;
  background-color: #EF4040;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px 390px;
  margin: 5px;
  cursor: pointer;
}

#reset-button:hover {
  background-color: #fff;
  color: #EF4040;
  border: solid 1px #EF4040;
}

:focus {
  outline: none;
}

footer {
  background-color: #3a3441;
  color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative; /* Alterado para 'relative' para garantir que o rodapé flua com o conteúdo. */
  margin-top: auto; /* Adicionado para posicionar o rodapé no final da página. */
}
